.wrap{
	position: relative;
}


.list{
	gap: 20px;
	display: flex;
	flex-direction: column;
	
	@include isLaptop{
		display: grid;
		grid-template-columns: repeat(2, 1fr);	
	}
	@include isDesktop{
		grid-template-columns: repeat(3, 1fr);	
	}
}

.item{
	display: flex;
	flex-direction: column;
	gap: 20px;
	place-content: space-between;
	height: 100%;

	&{@include blur-box}

	@include isLaptop{
		gap: 40px;
	}


	p{	flex: 1;	}
}