
body{
	min-width: $min-width;
	min-height: 100vh;
	font-family: 'GT-Eesti-Pro-Display';
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

main{
	padding-top: 60px;
	padding-bottom: 100px;

	@include isLaptop{
		padding-top: 0;
	}
}

.wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100dvh;
	min-width: $min-width;
	margin: 0 auto;
	overflow: hidden;
	overflow-y: auto;
}

[container]{
	margin: 0 auto;
	$gap: calc(15px * 2);
	width: calc(100% - $gap);
	@include isTablet{max-width: calc(screen('phone') - $gap);}
	@include isLaptop{max-width: calc(screen('tablet') - $gap);}
	@include isDesktop{max-width: calc(screen('laptop') - $gap);}
	@media(min-width: screen('desktop')){max-width: calc(screen('desktop') - $gap);}
}
