@use "sass:map";

// ------- funcs -------

@function screen($name: "desktop"){
	$screens: (
		"desktop": 1220px,
		"laptop": 1024px,
		"tablet": 768px,
		"phone": 480px,
	);
	
	@return map.get($screens, $name) 
}; 



@function hue($name: "b", $a: 1){

	$colors: (
		"b": hsla(0, 0%, 0%, $a),
		"w": hsla(0, 0%, 100%, $a),
		"white": hsla(0, 0%, 99%, $a),
		"black": hsla(20, 12%, 5%, $a),
		"light-brown": hsla(22, 95%, 26%, $a),
		"orange": hsla(22, 95%, 44%, $a),
		"light-orange": hsla(22, 88%, 70%, $a),
		"dark-brown": hsla(27, 23%, 9%, $a),
		"brown": hsla(23, 68%, 11%, $a),
		"dark": hsla(27, 22%, 10%, $a),
		"gray": hsla(24, 10%, 71%, $a),
		"gray-brown": hsla(27, 9%, 19%, $a),
		"dark-gray": hsla(20, 7%, 25%, $a),
	);
	

	@return map.get($colors, $name) 
};


@mixin isDesktop(){
	@media(min-width: screen('laptop')){@content;}
}
@mixin isLaptop(){
	@media(min-width: screen('tablet')){@content;}
}
@mixin isTablet(){
	@media(min-width: screen('phone')){@content;}
}


// -------- vars --------

$min-width: 360px;
$max-width: 1324px;



// ------ mixins ---------

@mixin a-click($e: 0.3s ){
	transition: all $e, scale 0.15s cubic-bezier(.65,1.99,.7,1.28);
	&:active{	scale: 0.9; }
}

@mixin a-value($property, $a: 5, $b: 15){
	#{$property}: $a;
	@media(min-width: screen('phone')){ 
		#{$property}: calc($a + ((($b - $a) * 30) / 100)); 
	}
	@media(min-width: screen('tablet')){ 
		#{$property}: calc($a + ((($b - $a) * 50) / 100)); 
	 }
	@media(min-width: screen('laptop')){ 
		#{$property}: calc($a + ((($b - $a) * 70) / 100)); 
	 }
	@media(min-width: screen('desktop')){ #{$property}: $b; }
}


@mixin hover {
	&:not([disabled]):hover {
		@content;
	}
}

@mixin square($size) {
	width: $size;
	min-width: $size;
	max-width: $size;
	height: $size;
	min-height: $size;
	max-height: $size;
}

@mixin blur-box($border-size: 8px){
	$r: 1em;
	$main-color: #1E1813;
	$decor-color: #81602E;
	position: relative;
	border-radius: $r;
	border: 1px solid color-mix(in srgb, $main-color, #fff 15%);
	padding: 2.2em 2em;

	&::before{
		content: '';
		$size: calc(100% - $border-size);
		border: inherit;
		border-color: color-mix(in srgb, $main-color, #fff 8%);
		// border-color: ;
		position: absolute;
		left: 50%; top: 50%;
		translate: -50% -50%;
		background: $main-color;
		backdrop-filter: blur(5px);
		box-shadow: 0 0 1.4em rgba($color: $decor-color, $alpha: 0.25);
		border-radius: calc($r / 1.5);
		width: $size; height: $size;
		z-index: -1;
	}
}