.wrap{
	padding: 0 !important;
	
	@include blur-box(0.5em);
}


.head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 1.5em;
	cursor: pointer
}


.icon{
	@include square(3em);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;


	&::before, &::after{
		content: '';
		position: absolute;
		width: 50%;
		aspect-ratio: 9/1;
		border-radius: 2em;
		background: hue('white');
		transition: 0.3s;
	}


	&::after{rotate: 90deg}

	&[data-active='true']::after{
		rotate: 0deg;
	}

}

.preview{
	@include a-value('font-size', 16px, 22px);
}


.foot{
	height: 0px;
	transition: 0.5s;
	overflow: hidden;
	overflow-y: auto;


	&::-webkit-scrollbar {
		width: 0; height: 0;
		opacity: 0;
	}
	
}

.content{
	padding: 1.5em;
	padding-bottom: 2em;
	color: hue('gray');
	max-height: 400px;
}