
// _______media

html{ font-size: 15px; }


@media (max-width: $large) {
  body{ font-size: 1em;}
  .container{ max-width:$desktop;}
}
@media (max-width: $desktop) {
  body{ font-size: 0.95em;}
  .container{ max-width:$laptop;}
}
@media (max-width: $laptop) {
  body{ font-size: 0.9em;}
  .container{ max-width:$tablet;}
}
@media (max-width: $tablet) {
  body{ font-size: 0.85em;}
  .container{ max-width:$phone; }
}
@media (max-width: $phone) {
  body{ font-size: 0.8em;}
}
